---
import Layout from "../../layouts/Layout.astro";
import PostPreview from "../../components/PostPreview.astro";
import Migration from "@/components/Migration.astro";

import { getCollection } from "astro:content";

const nonDraftPosts = await getCollection(
  "blog",
  (entry) => entry.data.draft === false,
);
---

<Layout>
  <h1 class="text-4xl" id="main">Posts</h1>

  <ul class="flex flex-col gap-2">
    {
      nonDraftPosts.map((post) => (
        <li>
          <PostPreview {post} />
        </li>
      ))
    }
  </ul>
  {nonDraftPosts.length === 0 && <Migration />}
</Layout>
