---
import Layout from "../layouts/Layout.astro";
import Hr from "../components/Hr.astro";
import Rss from "../assets/icons/rss.svg";
import { getCollection } from "astro:content";
import PostPreview from "../components/PostPreview.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import Migration from "@/components/Migration.astro";

const posts = await getCollection(
  "blog",
  (entry) => entry.data.draft === false,
);
const postsSorted = posts.toSorted(
  (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime(),
);

const projects = await getCollection(
  "project",
  (entry) => entry.data.draft === false,
);
const projectsSorted = projects.toSorted(
  (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime(),
);

const postsFeatured = postsSorted.filter((post) => post.data.featured);
const projectsFeatured = projectsSorted.filter((proj) => proj.data.featured);
const featured = [...postsFeatured, ...projectsFeatured];
---

<Layout>
  <main class="flex flex-col gap-4" id="main">
    <section class="flex flex-col gap-4">
      <div class="flex items-end gap-1">
        <h1 class="text-4xl font-bold">Alex Ott</h1>
        <a
          target="_blank"
          href="/rss.xml"
          aria-label="rss feed"
          title="RSS Feed"
          class="text-primary"
        >
          <Rss title="RSS Feed" />
        </a>
      </div>

      <p>Hey, 🌊</p>
      <p>
        I'm an undergraduate at Brandeis University majoring in Computer Science
        and Applied Math. I plan on getting a PhD in something with systems,
        data systems, distirbuted systems, or security.
      </p>

      <Hr />

      <!-- <Migration /> -->

      <!--   <section> -->
      <!--     <h2 class="text-2xl font-bold">Featured</h2> -->
      <!--     { -->
      <!--       featured -->
      <!--         .slice(0, 3) -->
      <!--         .map((item) => -->
      <!--           item.collection === "blog" ? ( -->
      <!--             <PostPreview post={item} /> -->
      <!--           ) : ( -->
      <!--             <ProjectPreview project={item} /> -->
      <!--           ), -->
      <!--         ) -->
      <!--     } -->
      <!--   </section> -->
      <section>
        <h2 class="text-2xl font-bold">Projects</h2>
        {
          projectsSorted
            .slice(0, 3)
            .map((post) => <ProjectPreview project={post} />)
        }
      </section>
      <!-- </section> -->
      <section>
        <h2 class="text-2xl font-bold">Posts</h2>
        {postsSorted.slice(0, 3).map((post) => <PostPreview post={post} />)}
      </section>
    </section>

    {/*  <Footer />  */}
  </main>
</Layout>
