---
import { Image } from "astro:assets";
import dnsHaiku from "@/assets/images/dns.webp";
---

<p>Migration in process. While you wait, here's a haiku:</p>

<div class="grid place-items-center">
  <Image
    src={dnsHaiku}
    alt="A haiku about dns: It's not DNS / There's no way it's DNS / It was DNS"
  />
</div>
