---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="bg-background m-0 h-full w-full font-mono text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Alex Ott's personal portfolio and blog" />
    <title>0×ott.zip</title>
  </head>
  <body>
    <a
      href="#main"
      class="absolute -translate-y-full bg-black transition-transform ease-in focus:translate-y-0"
      >skip to main content</a
    >
    <div class="mx-auto flex max-w-3xl flex-col gap-8 p-4">
      <Nav />
      <slot />
    </div>
  </body>
</html>
